<div class="container-fluid p-3">
    <div class="row text-center">
        <div class="col-12">
            <p>Website by <a href="https://www.linkedin.com/in/nikethanreddy/" target="_blank">Nikethan Reddy</a></p>
        </div>
    </div>
</div>